
:root {
    --shadowElevation1: 0 0 1px 0 rgba(130,136,148,0.16), 0 2px 4px 0 rgba(130,136,148,0.16);  
    --shadowElevation2: 0 0 2px 0 rgba(130,136,148,0.16), 0 4px 6px 0 rgba(130,136,148,0.16);  
    --shadowElevation3: 0 0 2px 0 rgba(130,136,148,0.08), 0 0 4px 0 rgba(130,136,148,0.16), 0 8px 8px 0 rgba(130,136,148,0.16);  
}