$colorBrand: #6b75ff;    
$colorBrandHover: #636ce5;    
$colorDanger: #ff695b;    
$colorDangerHover: #e56155;    
$colorWarning: #ffbe4f;    
$colorWarningHover: #e5ac4a;    
$colorSuccess: #3dcc79;    
$colorSuccessHover: #3bb86f;    
$colorBrand2: #6b75ff29;    
$colorBrand2Hover: #6b75ff3d;    
$colorDanger2: #ff695b29;    
$colorDanger2Hover: #ff695b3d;    
$colorWarning2: #ffbe4f29;    
$colorWarning2Hover: #ffbe4f3d;    
$colorSuccess2: #3dcc7929;    
$colorSuccess2Hover: #3dcc793d;    
$colorGray1: #8d8d94;    
$colorGray2: #babbc2;    
$colorGray3: #e6e6eb;    
$colorGray4: #f0f0f5;    
$colorBlack: #272729;    
$colorWhite: #ffffff;    
