<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7231.0" authCookieName=".SFAUTH-Neptune" rolesCookieName=".SFROLES-Neptune" validationKey="EC08639A8D2E5CDED4ABAD600F28AE3C64C708EF39D0AED04B5E8691B80845268379092F2CD5F48BF1E064324E7B72479FF394DEAF85AC6A223ED443BB726140" decryptionKey="67AB5CB5480CF7E14D4A3A557CD784EA141D63CFBEC0A976CBCA0C90B3BBEBC0" loggingCookieName=".SFLOG-Neptune">
	<securityTokenIssuers>
		<add key="5F2D5299A7CE81A78AA4DEA9D52CBFB5D449C4BFC4B7DD02717DA2B5A9E369B8" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="5F2D5299A7CE81A78AA4DEA9D52CBFB5D449C4BFC4B7DD02717DA2B5A9E369B8" realm="http://localhost" />
	</relyingParties>
</securityConfig>